USE [LBT]
GO
ALTER TABLE [dbo].[UTILISATEUR_EMPLACEMENT] DROP CONSTRAINT [TLSTRMPLCMNmplcmntsNMR]
GO
ALTER TABLE [dbo].[UTILISATEUR_EMPLACEMENT] DROP CONSTRAINT [TLSTRMPLCEMENTtlstrsCD]
GO
ALTER TABLE [dbo].[UTILISATEUR_DROIT] DROP CONSTRAINT [TLSTURDROITtlstursCODE]
GO
ALTER TABLE [dbo].[UTILISATEUR_DROIT] DROP CONSTRAINT [TLSTRDROITdrtsTYPDROIT]
GO
ALTER TABLE [dbo].[UTILISATEUR] DROP CONSTRAINT [TILISATEURPARAMETRESID]
GO
ALTER TABLE [dbo].[REGLEMENT] DROP CONSTRAINT [RGLEMENTTYPREGLEMENTID]
GO
ALTER TABLE [dbo].[REGLEMENT] DROP CONSTRAINT [REGLEMENT_COMMANDE_ID]
GO
ALTER TABLE [dbo].[PROPRIETE_PRODUIT] DROP CONSTRAINT [PRPRTPRDITprdtsRFRENCE]
GO
ALTER TABLE [dbo].[PROPRIETE_PRODUIT] DROP CONSTRAINT [PRPRTEPRODUITprprtesID]
GO
ALTER TABLE [dbo].[PROMOTION_PRODUIT] DROP CONSTRAINT [PRMTONPRODUITprmtonsID]
GO
ALTER TABLE [dbo].[PROMOTION_PRODUIT] DROP CONSTRAINT [PRMTNPRDITprdtsRFRENCE]
GO
ALTER TABLE [dbo].[PRODUIT_PRODUIT] DROP CONSTRAINT [PRDTPRDTprdtPrntsRFRNC]
GO
ALTER TABLE [dbo].[PRODUIT_PRODUIT] DROP CONSTRAINT [PRDTPRDTprdtnfntsRFRNC]
GO
ALTER TABLE [dbo].[PRODUIT_PARAMETRES] DROP CONSTRAINT [PRDTPRMTRESprdtsRFRNCE]
GO
ALTER TABLE [dbo].[PRODUIT_PARAMETRES] DROP CONSTRAINT [PRDTPRAMETRESprmtresID]
GO
ALTER TABLE [dbo].[PRODUIT_INGREDIENT] DROP CONSTRAINT [PRDTNGRDIENTngrdntsNOM]
GO
ALTER TABLE [dbo].[PRODUIT_INGREDIENT] DROP CONSTRAINT [PRDTNGRDENTprdtsRFRNCE]
GO
ALTER TABLE [dbo].[PRODUIT_CHOIXCLIENT] DROP CONSTRAINT [PRDTCHXCLNTprdtsRFRNCE]
GO
ALTER TABLE [dbo].[PRODUIT_CHOIXCLIENT] DROP CONSTRAINT [PRDTCHXCLIENTchxClntsD]
GO
ALTER TABLE [dbo].[PRODUIT] DROP CONSTRAINT [PRDUITCTEGORIECARTENOM]
GO
ALTER TABLE [dbo].[PRODUIT] DROP CONSTRAINT [FK_PRODUIT_TVA_CODETVA]
GO
ALTER TABLE [dbo].[LIGNECOMMANDE_INGREDIENT] DROP CONSTRAINT [LGNCMMNDNGRDNngrdntsNM]
GO
ALTER TABLE [dbo].[LIGNECOMMANDE_INGREDIENT] DROP CONSTRAINT [LGNCMMNDNGRDlgnCmmndsD]
GO
ALTER TABLE [dbo].[LIGNECOMMANDE_CHOIXCLIENT] DROP CONSTRAINT [LGNCMMNDCHXClgnCmmndsD]
GO
ALTER TABLE [dbo].[LIGNECOMMANDE_CHOIXCLIENT] DROP CONSTRAINT [LGNCMMNDCHXCLchxClntsD]
GO
ALTER TABLE [dbo].[LIGNECOMMANDE] DROP CONSTRAINT [LIGNECOMMANDEFORMULEID]
GO
ALTER TABLE [dbo].[LIGNECOMMANDE] DROP CONSTRAINT [LGNECOMMANDEPRAMETREID]
GO
ALTER TABLE [dbo].[LIGNECOMMANDE] DROP CONSTRAINT [LGNECOMMANDECOMMANDEID]
GO
ALTER TABLE [dbo].[LIGNECOMMANDE] DROP CONSTRAINT [LGNCMMNDLGNCMMNDPRNTID]
GO
ALTER TABLE [dbo].[LIGNECOMMANDE] DROP CONSTRAINT [LGNCMMANDEPRDTRFERENCE]
GO
ALTER TABLE [dbo].[FORMULE] DROP CONSTRAINT [FK_FORMULE_TVA_CODETVA]
GO
ALTER TABLE [dbo].[EMPLACEMENT] DROP CONSTRAINT [EMPLACEMENTPARAMETREID]
GO
ALTER TABLE [dbo].[COMMANDE] DROP CONSTRAINT [COMMANDE_PARAMETRE_ID]
GO
ALTER TABLE [dbo].[COMMANDE] DROP CONSTRAINT [CMMNDEMPLACEMENTNUMERO]
GO
ALTER TABLE [dbo].[CATEGORIEFORMULE_PRODUIT] DROP CONSTRAINT [CTGRFRMLPRDTprdtsRFRNC]
GO
ALTER TABLE [dbo].[CATEGORIEFORMULE_PRODUIT] DROP CONSTRAINT [CTGRFRMLPRDTctgrFrmlsD]
GO
ALTER TABLE [dbo].[CATEGORIEFORMULE] DROP CONSTRAINT [CTGORIEFORMULEFRMULEID]
GO
ALTER TABLE [dbo].[CARTE_CATEGORIECARTE] DROP CONSTRAINT [CRTCTGRCRTEctgrCrtsNOM]
GO
ALTER TABLE [dbo].[CARTE_CATEGORIECARTE] DROP CONSTRAINT [CRTCTEGORIECARTEcrtsID]
GO
/****** Object:  Table [dbo].[UTILISATEUR_EMPLACEMENT]    Script Date: 26/03/2018 23:46:05 ******/
DROP TABLE [dbo].[UTILISATEUR_EMPLACEMENT]
GO
/****** Object:  Table [dbo].[UTILISATEUR_DROIT]    Script Date: 26/03/2018 23:46:05 ******/
DROP TABLE [dbo].[UTILISATEUR_DROIT]
GO
/****** Object:  Table [dbo].[UTILISATEUR]    Script Date: 26/03/2018 23:46:06 ******/
DROP TABLE [dbo].[UTILISATEUR]
GO
/****** Object:  Table [dbo].[TYPEREGLEMENT]    Script Date: 26/03/2018 23:46:06 ******/
DROP TABLE [dbo].[TYPEREGLEMENT]
GO
/****** Object:  Table [dbo].[TVA]    Script Date: 26/03/2018 23:46:06 ******/
DROP TABLE [dbo].[TVA]
GO
/****** Object:  Table [dbo].[REGLEMENT]    Script Date: 26/03/2018 23:46:06 ******/
DROP TABLE [dbo].[REGLEMENT]
GO
/****** Object:  Table [dbo].[PROPRIETE_PRODUIT]    Script Date: 26/03/2018 23:46:07 ******/
DROP TABLE [dbo].[PROPRIETE_PRODUIT]
GO
/****** Object:  Table [dbo].[PROPRIETE]    Script Date: 26/03/2018 23:46:07 ******/
DROP TABLE [dbo].[PROPRIETE]
GO
/****** Object:  Table [dbo].[PROMOTION_PRODUIT]    Script Date: 26/03/2018 23:46:07 ******/
DROP TABLE [dbo].[PROMOTION_PRODUIT]
GO
/****** Object:  Table [dbo].[PROMOTION]    Script Date: 26/03/2018 23:46:07 ******/
DROP TABLE [dbo].[PROMOTION]
GO
/****** Object:  Table [dbo].[PRODUIT_PRODUIT]    Script Date: 26/03/2018 23:46:07 ******/
DROP TABLE [dbo].[PRODUIT_PRODUIT]
GO
/****** Object:  Table [dbo].[PRODUIT_PARAMETRES]    Script Date: 26/03/2018 23:46:08 ******/
DROP TABLE [dbo].[PRODUIT_PARAMETRES]
GO
/****** Object:  Table [dbo].[PRODUIT_INGREDIENT]    Script Date: 26/03/2018 23:46:08 ******/
DROP TABLE [dbo].[PRODUIT_INGREDIENT]
GO
/****** Object:  Table [dbo].[PRODUIT_CHOIXCLIENT]    Script Date: 26/03/2018 23:46:08 ******/
DROP TABLE [dbo].[PRODUIT_CHOIXCLIENT]
GO
/****** Object:  Table [dbo].[PRODUIT]    Script Date: 26/03/2018 23:46:08 ******/
DROP TABLE [dbo].[PRODUIT]
GO
/****** Object:  Table [dbo].[PARAMETRES]    Script Date: 26/03/2018 23:46:09 ******/
DROP TABLE [dbo].[PARAMETRES]
GO
/****** Object:  Table [dbo].[LIGNECOMMANDE_INGREDIENT]    Script Date: 26/03/2018 23:46:09 ******/
DROP TABLE [dbo].[LIGNECOMMANDE_INGREDIENT]
GO
/****** Object:  Table [dbo].[LIGNECOMMANDE_CHOIXCLIENT]    Script Date: 26/03/2018 23:46:09 ******/
DROP TABLE [dbo].[LIGNECOMMANDE_CHOIXCLIENT]
GO
/****** Object:  Table [dbo].[LIGNECOMMANDE]    Script Date: 26/03/2018 23:46:09 ******/
DROP TABLE [dbo].[LIGNECOMMANDE]
GO
/****** Object:  Table [dbo].[INGREDIENT]    Script Date: 26/03/2018 23:46:09 ******/
DROP TABLE [dbo].[INGREDIENT]
GO
/****** Object:  Table [dbo].[FORMULE]    Script Date: 26/03/2018 23:46:10 ******/
DROP TABLE [dbo].[FORMULE]
GO
/****** Object:  Table [dbo].[EMPLACEMENT]    Script Date: 26/03/2018 23:46:10 ******/
DROP TABLE [dbo].[EMPLACEMENT]
GO
/****** Object:  Table [dbo].[DROIT]    Script Date: 26/03/2018 23:46:10 ******/
DROP TABLE [dbo].[DROIT]
GO
/****** Object:  Table [dbo].[COMMANDE]    Script Date: 26/03/2018 23:46:10 ******/
DROP TABLE [dbo].[COMMANDE]
GO
/****** Object:  Table [dbo].[CHOIXCLIENT]    Script Date: 26/03/2018 23:46:11 ******/
DROP TABLE [dbo].[CHOIXCLIENT]
GO
/****** Object:  Table [dbo].[CATEGORIEFORMULE_PRODUIT]    Script Date: 26/03/2018 23:46:11 ******/
DROP TABLE [dbo].[CATEGORIEFORMULE_PRODUIT]
GO
/****** Object:  Table [dbo].[CATEGORIEFORMULE]    Script Date: 26/03/2018 23:46:11 ******/
DROP TABLE [dbo].[CATEGORIEFORMULE]
GO
/****** Object:  Table [dbo].[CATEGORIECARTE]    Script Date: 26/03/2018 23:46:11 ******/
DROP TABLE [dbo].[CATEGORIECARTE]
GO
/****** Object:  Table [dbo].[CARTE_CATEGORIECARTE]    Script Date: 26/03/2018 23:46:12 ******/
DROP TABLE [dbo].[CARTE_CATEGORIECARTE]
GO
/****** Object:  Table [dbo].[CARTE]    Script Date: 26/03/2018 23:46:12 ******/
DROP TABLE [dbo].[CARTE]
GO
USE [master]
GO
/****** Object:  Database [LBT]    Script Date: 26/03/2018 23:46:12 ******/
DROP DATABASE [LBT]
GO
