USE [master]
GO
/****** Object:  Database [LBT]    Script Date: 21/03/2018 22:34:32 ******/
CREATE DATABASE [LBT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LBT', FILENAME = N'/var/opt/mssql/data/LBT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LBT_log', FILENAME = N'/var/opt/mssql/data/LBT_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LBT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LBT]
GO
USE [LBT]
GO
/****** Object:  Table [dbo].[CARTE]    Script Date: 21/03/2018 22:34:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARTE](
	[ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[DATEDEBUT] [datetime] NULL,
	[DATEFIN] [datetime] NULL,
	[NOM] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARTE_CATEGORIECARTE]    Script Date: 21/03/2018 22:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARTE_CATEGORIECARTE](
	[cartes_ID] [numeric](19, 0) NOT NULL,
	[categorieCartes_NOM] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cartes_ID] ASC,
	[categorieCartes_NOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIECARTE]    Script Date: 21/03/2018 22:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIECARTE](
	[NOM] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIEFORMULE]    Script Date: 21/03/2018 22:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIEFORMULE](
	[ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](255) NULL,
	[FORMULE_ID] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIEFORMULE_PRODUIT]    Script Date: 21/03/2018 22:34:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIEFORMULE_PRODUIT](
	[produits_REFERENCE] [numeric](19, 0) NOT NULL,
	[categorieFormules_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[produits_REFERENCE] ASC,
	[categorieFormules_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHOIXCLIENT]    Script Date: 21/03/2018 22:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHOIXCLIENT](
	[ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[NOM] [varchar](255) NOT NULL,
	[TYPE] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMANDE]    Script Date: 21/03/2018 22:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMANDE](
	[ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[DATECOMMANDE] [datetime] NULL,
	[EMPLACEMENT_NUMERO] [numeric](19, 0) NULL,
	[PARAMETRE_ID] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DROIT]    Script Date: 21/03/2018 22:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DROIT](
	[TYPEDROIT] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[DESCRIPTIONDROIT] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TYPEDROIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLACEMENT]    Script Date: 21/03/2018 22:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLACEMENT](
	[NUMERO] [numeric](19, 0) NOT NULL,
	[SECTEUR] [varchar](255) NOT NULL,
	[PARAMETRE_ID] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMULE]    Script Date: 21/03/2018 22:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMULE](
	[ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[PRIXHT] [real] NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[HEUREDEBUT] [datetime] NULL,
	[HEUREFIN] [datetime] NULL,
	[JOURDEBUT] [int] NULL,
	[JOURFIN] [int] NULL,
	[NOM] [varchar](255) NOT NULL,
	[TVA_CODETVA] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INGREDIENT]    Script Date: 21/03/2018 22:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INGREDIENT](
	[NOM] [varchar](255) NOT NULL,
	[DESCRIPTION] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIGNECOMMANDE]    Script Date: 21/03/2018 22:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIGNECOMMANDE](
	[ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[PRIXHT] [real] NULL,
	[QUANTITE] [int] NULL,
	[TAUXTVA] [real] NULL,
	[COMMANDE_ID] [numeric](19, 0) NULL,
	[FORMULE_ID] [numeric](19, 0) NULL,
	[LIGNECOMMANDEPARENT_ID] [numeric](19, 0) NULL,
	[PRODUIT_REFERENCE] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIGNECOMMANDE_CHOIXCLIENT]    Script Date: 21/03/2018 22:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIGNECOMMANDE_CHOIXCLIENT](
	[choixClients_ID] [numeric](19, 0) NOT NULL,
	[ligneCommandes_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[choixClients_ID] ASC,
	[ligneCommandes_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIGNECOMMANDE_INGREDIENT]    Script Date: 21/03/2018 22:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIGNECOMMANDE_INGREDIENT](
	[ingredients_NOM] [varchar](255) NOT NULL,
	[ligneCommandes_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ingredients_NOM] ASC,
	[ligneCommandes_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARAMETRES]    Script Date: 21/03/2018 22:34:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAMETRES](
	[ID] [numeric](19, 0) NOT NULL,
	[DESCRIPTIONPARAMETRE] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUIT]    Script Date: 21/03/2018 22:34:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUIT](
	[REFERENCE] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [varchar](255) NOT NULL,
	[IMAGE] [varchar](255) NULL,
	[NOM] [varchar](255) NOT NULL,
	[PRIXHT] [real] NOT NULL,
	[CATEGORIECARTE_NOM] [varchar](255) NULL,
	[TVA_CODETVA] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[REFERENCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUIT_CHOIXCLIENT]    Script Date: 21/03/2018 22:34:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUIT_CHOIXCLIENT](
	[produits_REFERENCE] [numeric](19, 0) NOT NULL,
	[choixClients_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[produits_REFERENCE] ASC,
	[choixClients_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUIT_INGREDIENT]    Script Date: 21/03/2018 22:34:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUIT_INGREDIENT](
	[ingredients_NOM] [varchar](255) NOT NULL,
	[produits_REFERENCE] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ingredients_NOM] ASC,
	[produits_REFERENCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUIT_PARAMETRES]    Script Date: 21/03/2018 22:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUIT_PARAMETRES](
	[produits_REFERENCE] [numeric](19, 0) NOT NULL,
	[parametres_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[produits_REFERENCE] ASC,
	[parametres_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUIT_PRODUIT]    Script Date: 21/03/2018 22:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUIT_PRODUIT](
	[produitParents_REFERENCE] [numeric](19, 0) NOT NULL,
	[produitEnfants_REFERENCE] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[produitParents_REFERENCE] ASC,
	[produitEnfants_REFERENCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROMOTION]    Script Date: 21/03/2018 22:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROMOTION](
	[ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[DATEDEBUT] [datetime] NULL,
	[DATEFIN] [datetime] NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[IMAGE] [varchar](255) NULL,
	[REMISE] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROMOTION_PRODUIT]    Script Date: 21/03/2018 22:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROMOTION_PRODUIT](
	[produits_REFERENCE] [numeric](19, 0) NOT NULL,
	[promotions_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[produits_REFERENCE] ASC,
	[promotions_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROPRIETE]    Script Date: 21/03/2018 22:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROPRIETE](
	[ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](255) NOT NULL,
	[UNITE] [varchar](255) NULL,
	[VALEUR] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROPRIETE_PRODUIT]    Script Date: 21/03/2018 22:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROPRIETE_PRODUIT](
	[produits_REFERENCE] [numeric](19, 0) NOT NULL,
	[proprietes_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[produits_REFERENCE] ASC,
	[proprietes_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGLEMENT]    Script Date: 21/03/2018 22:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGLEMENT](
	[ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[DATEREGLEMENT] [datetime] NULL,
	[MONTANT] [real] NULL,
	[COMMANDE_ID] [numeric](19, 0) NULL,
	[TYPEREGLEMENT_ID] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TVA]    Script Date: 21/03/2018 22:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TVA](
	[CODETVA] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[TAUXTVA] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODETVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPEREGLEMENT]    Script Date: 21/03/2018 22:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPEREGLEMENT](
	[ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[TYPE] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UTILISATEUR]    Script Date: 21/03/2018 22:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTILISATEUR](
	[CODE] [varchar](255) NOT NULL,
	[NOM] [varchar](255) NULL,
	[PRENOM] [varchar](255) NULL,
	[PARAMETRES_ID] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UTILISATEUR_DROIT]    Script Date: 21/03/2018 22:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTILISATEUR_DROIT](
	[utilisateurs_CODE] [varchar](255) NOT NULL,
	[droits_TYPEDROIT] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[utilisateurs_CODE] ASC,
	[droits_TYPEDROIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UTILISATEUR_EMPLACEMENT]    Script Date: 21/03/2018 22:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTILISATEUR_EMPLACEMENT](
	[utilisateurs_CODE] [varchar](255) NOT NULL,
	[emplacements_NUMERO] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[utilisateurs_CODE] ASC,
	[emplacements_NUMERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CARTE] ON 

INSERT [dbo].[CARTE] ([ID], [DATEDEBUT], [DATEFIN], [NOM]) VALUES (CAST(5 AS Numeric(19, 0)), CAST(N'2002-06-01T00:00:00.000' AS DateTime), CAST(N'2002-09-30T00:00:00.000' AS DateTime), N'Carte d''été')
INSERT [dbo].[CARTE] ([ID], [DATEDEBUT], [DATEFIN], [NOM]) VALUES (CAST(6 AS Numeric(19, 0)), CAST(N'2017-10-01T00:00:00.000' AS DateTime), CAST(N'2018-04-30T00:00:00.000' AS DateTime), N'Carte d''hiver')
SET IDENTITY_INSERT [dbo].[CARTE] OFF
INSERT [dbo].[CARTE_CATEGORIECARTE] ([cartes_ID], [categorieCartes_NOM]) VALUES (CAST(6 AS Numeric(19, 0)), N'Accompagnement')
INSERT [dbo].[CARTE_CATEGORIECARTE] ([cartes_ID], [categorieCartes_NOM]) VALUES (CAST(6 AS Numeric(19, 0)), N'Appéritifs & Digestifs')
INSERT [dbo].[CARTE_CATEGORIECARTE] ([cartes_ID], [categorieCartes_NOM]) VALUES (CAST(6 AS Numeric(19, 0)), N'Boissions chaudes')
INSERT [dbo].[CATEGORIECARTE] ([NOM]) VALUES (N'Accompagnement')
INSERT [dbo].[CATEGORIECARTE] ([NOM]) VALUES (N'Appéritifs & Digestifs')
INSERT [dbo].[CATEGORIECARTE] ([NOM]) VALUES (N'Boissions chaudes')
SET IDENTITY_INSERT [dbo].[CATEGORIEFORMULE] ON 

INSERT [dbo].[CATEGORIEFORMULE] ([ID], [NOM], [FORMULE_ID]) VALUES (CAST(27 AS Numeric(19, 0)), N'Plats', CAST(31 AS Numeric(19, 0)))
INSERT [dbo].[CATEGORIEFORMULE] ([ID], [NOM], [FORMULE_ID]) VALUES (CAST(28 AS Numeric(19, 0)), N'Boissons', CAST(31 AS Numeric(19, 0)))
INSERT [dbo].[CATEGORIEFORMULE] ([ID], [NOM], [FORMULE_ID]) VALUES (CAST(29 AS Numeric(19, 0)), N'Plats', CAST(30 AS Numeric(19, 0)))
SET IDENTITY_INSERT [dbo].[CATEGORIEFORMULE] OFF
INSERT [dbo].[CATEGORIEFORMULE_PRODUIT] ([produits_REFERENCE], [categorieFormules_ID]) VALUES (CAST(64 AS Numeric(19, 0)), CAST(31 AS Numeric(19, 0)))
INSERT [dbo].[CATEGORIEFORMULE_PRODUIT] ([produits_REFERENCE], [categorieFormules_ID]) VALUES (CAST(64 AS Numeric(19, 0)), CAST(38 AS Numeric(19, 0)))
INSERT [dbo].[CATEGORIEFORMULE_PRODUIT] ([produits_REFERENCE], [categorieFormules_ID]) VALUES (CAST(68 AS Numeric(19, 0)), CAST(29 AS Numeric(19, 0)))
SET IDENTITY_INSERT [dbo].[CHOIXCLIENT] ON 

INSERT [dbo].[CHOIXCLIENT] ([ID], [DESCRIPTION], [NOM], [TYPE]) VALUES (CAST(21 AS Numeric(19, 0)), NULL, N'saignant', N'cuisson')
INSERT [dbo].[CHOIXCLIENT] ([ID], [DESCRIPTION], [NOM], [TYPE]) VALUES (CAST(22 AS Numeric(19, 0)), NULL, N'poivre', N'sauce')
INSERT [dbo].[CHOIXCLIENT] ([ID], [DESCRIPTION], [NOM], [TYPE]) VALUES (CAST(23 AS Numeric(19, 0)), NULL, N'estragon', N'sauce')
SET IDENTITY_INSERT [dbo].[CHOIXCLIENT] OFF
SET IDENTITY_INSERT [dbo].[COMMANDE] ON 

INSERT [dbo].[COMMANDE] ([ID], [DATECOMMANDE], [EMPLACEMENT_NUMERO], [PARAMETRE_ID]) VALUES (CAST(11 AS Numeric(19, 0)), CAST(N'2018-03-16T12:00:00.000' AS DateTime), CAST(1 AS Numeric(19, 0)), CAST(100 AS Numeric(19, 0)))
INSERT [dbo].[COMMANDE] ([ID], [DATECOMMANDE], [EMPLACEMENT_NUMERO], [PARAMETRE_ID]) VALUES (CAST(12 AS Numeric(19, 0)), CAST(N'2018-03-17T12:30:00.000' AS DateTime), CAST(4 AS Numeric(19, 0)), CAST(102 AS Numeric(19, 0)))
INSERT [dbo].[COMMANDE] ([ID], [DATECOMMANDE], [EMPLACEMENT_NUMERO], [PARAMETRE_ID]) VALUES (CAST(13 AS Numeric(19, 0)), CAST(N'2018-03-17T12:30:00.000' AS DateTime), CAST(3 AS Numeric(19, 0)), CAST(102 AS Numeric(19, 0)))
SET IDENTITY_INSERT [dbo].[COMMANDE] OFF
SET IDENTITY_INSERT [dbo].[DROIT] ON 

INSERT [dbo].[DROIT] ([TYPEDROIT], [DESCRIPTIONDROIT]) VALUES (CAST(7 AS Numeric(19, 0)), N'caisse')
INSERT [dbo].[DROIT] ([TYPEDROIT], [DESCRIPTIONDROIT]) VALUES (CAST(8 AS Numeric(19, 0)), N'cuisine')
INSERT [dbo].[DROIT] ([TYPEDROIT], [DESCRIPTIONDROIT]) VALUES (CAST(9 AS Numeric(19, 0)), N'service')
SET IDENTITY_INSERT [dbo].[DROIT] OFF
INSERT [dbo].[EMPLACEMENT] ([NUMERO], [SECTEUR], [PARAMETRE_ID]) VALUES (CAST(1 AS Numeric(19, 0)), N'salle01', CAST(300 AS Numeric(19, 0)))
INSERT [dbo].[EMPLACEMENT] ([NUMERO], [SECTEUR], [PARAMETRE_ID]) VALUES (CAST(2 AS Numeric(19, 0)), N'salle01', CAST(300 AS Numeric(19, 0)))
INSERT [dbo].[EMPLACEMENT] ([NUMERO], [SECTEUR], [PARAMETRE_ID]) VALUES (CAST(3 AS Numeric(19, 0)), N'salle01', CAST(300 AS Numeric(19, 0)))
SET IDENTITY_INSERT [dbo].[FORMULE] ON 

INSERT [dbo].[FORMULE] ([ID], [PRIXHT], [DESCRIPTION], [HEUREDEBUT], [HEUREFIN], [JOURDEBUT], [JOURFIN], [NOM], [TVA_CODETVA]) VALUES (CAST(29 AS Numeric(19, 0)), 20, N'formule pour le diner', CAST(N'1970-01-01T19:00:00.000' AS DateTime), CAST(N'1970-01-01T23:00:00.000' AS DateTime), 1, 5, N'Formule Soir', CAST(30 AS Numeric(19, 0)))
INSERT [dbo].[FORMULE] ([ID], [PRIXHT], [DESCRIPTION], [HEUREDEBUT], [HEUREFIN], [JOURDEBUT], [JOURFIN], [NOM], [TVA_CODETVA]) VALUES (CAST(30 AS Numeric(19, 0)), 15.2, N'formule composée pour le déjeuner', CAST(N'1970-01-01T11:00:00.000' AS DateTime), CAST(N'1970-01-01T15:00:00.000' AS DateTime), 1, 5, N'Formule Midi', CAST(30 AS Numeric(19, 0)))
INSERT [dbo].[FORMULE] ([ID], [PRIXHT], [DESCRIPTION], [HEUREDEBUT], [HEUREFIN], [JOURDEBUT], [JOURFIN], [NOM], [TVA_CODETVA]) VALUES (CAST(31 AS Numeric(19, 0)), 20, N'formule pour le diner du Samedi au Dimache', CAST(N'1970-01-01T19:00:00.000' AS DateTime), CAST(N'1970-01-01T23:00:00.000' AS DateTime), 6, 7, N'Formule Soir', CAST(29 AS Numeric(19, 0)))
SET IDENTITY_INSERT [dbo].[FORMULE] OFF
INSERT [dbo].[INGREDIENT] ([NOM], [DESCRIPTION]) VALUES (N'anchois', N'acc. salade')
INSERT [dbo].[INGREDIENT] ([NOM], [DESCRIPTION]) VALUES (N'artichaud', N'acc. pizza')
INSERT [dbo].[INGREDIENT] ([NOM], [DESCRIPTION]) VALUES (N'asperge', N'acc. salade')
SET IDENTITY_INSERT [dbo].[LIGNECOMMANDE] ON 

INSERT [dbo].[LIGNECOMMANDE] ([ID], [PRIXHT], [QUANTITE], [TAUXTVA], [COMMANDE_ID], [FORMULE_ID], [LIGNECOMMANDEPARENT_ID], [PRODUIT_REFERENCE]) VALUES (CAST(1 AS Numeric(19, 0)), 25, 2, 20, CAST(14 AS Numeric(19, 0)), NULL, NULL, CAST(81 AS Numeric(19, 0)))
INSERT [dbo].[LIGNECOMMANDE] ([ID], [PRIXHT], [QUANTITE], [TAUXTVA], [COMMANDE_ID], [FORMULE_ID], [LIGNECOMMANDEPARENT_ID], [PRODUIT_REFERENCE]) VALUES (CAST(2 AS Numeric(19, 0)), 20, 1, 10, CAST(14 AS Numeric(19, 0)), CAST(30 AS Numeric(19, 0)), CAST(2 AS Numeric(19, 0)), NULL)
INSERT [dbo].[LIGNECOMMANDE] ([ID], [PRIXHT], [QUANTITE], [TAUXTVA], [COMMANDE_ID], [FORMULE_ID], [LIGNECOMMANDEPARENT_ID], [PRODUIT_REFERENCE]) VALUES (CAST(3 AS Numeric(19, 0)), 20, 1, 20, CAST(13 AS Numeric(19, 0)), CAST(29 AS Numeric(19, 0)), CAST(3 AS Numeric(19, 0)), NULL)
SET IDENTITY_INSERT [dbo].[LIGNECOMMANDE] OFF
INSERT [dbo].[LIGNECOMMANDE_CHOIXCLIENT] ([choixClients_ID], [ligneCommandes_ID]) VALUES (CAST(21 AS Numeric(19, 0)), CAST(7 AS Numeric(19, 0)))
INSERT [dbo].[LIGNECOMMANDE_CHOIXCLIENT] ([choixClients_ID], [ligneCommandes_ID]) VALUES (CAST(22 AS Numeric(19, 0)), CAST(6 AS Numeric(19, 0)))
INSERT [dbo].[LIGNECOMMANDE_CHOIXCLIENT] ([choixClients_ID], [ligneCommandes_ID]) VALUES (CAST(24 AS Numeric(19, 0)), CAST(2 AS Numeric(19, 0)))
INSERT [dbo].[LIGNECOMMANDE_INGREDIENT] ([ingredients_NOM], [ligneCommandes_ID]) VALUES (N'haricots blancs', CAST(1 AS Numeric(19, 0)))
INSERT [dbo].[LIGNECOMMANDE_INGREDIENT] ([ingredients_NOM], [ligneCommandes_ID]) VALUES (N'haricots verts', CAST(2 AS Numeric(19, 0)))
INSERT [dbo].[LIGNECOMMANDE_INGREDIENT] ([ingredients_NOM], [ligneCommandes_ID]) VALUES (N'magret', CAST(5 AS Numeric(19, 0)))
INSERT [dbo].[PARAMETRES] ([ID], [DESCRIPTIONPARAMETRE]) VALUES (CAST(1 AS Numeric(19, 0)), N'disponible')
INSERT [dbo].[PARAMETRES] ([ID], [DESCRIPTIONPARAMETRE]) VALUES (CAST(2 AS Numeric(19, 0)), N'indisponible')
INSERT [dbo].[PARAMETRES] ([ID], [DESCRIPTIONPARAMETRE]) VALUES (CAST(100 AS Numeric(19, 0)), N'panier')
SET IDENTITY_INSERT [dbo].[PRODUIT] ON 

INSERT [dbo].[PRODUIT] ([REFERENCE], [DESCRIPTION], [IMAGE], [NOM], [PRIXHT], [CATEGORIECARTE_NOM], [TVA_CODETVA]) VALUES (CAST(63 AS Numeric(19, 0)), N'composant sole meunière', NULL, N'pièce de sole', 0, NULL, NULL)
INSERT [dbo].[PRODUIT] ([REFERENCE], [DESCRIPTION], [IMAGE], [NOM], [PRIXHT], [CATEGORIECARTE_NOM], [TVA_CODETVA]) VALUES (CAST(64 AS Numeric(19, 0)), N'l''entrée énergétique', N'Image/EntAvovatThon.jpg', N'avocat-thon', 4.65, N'Entrées', CAST(30 AS Numeric(19, 0)))
INSERT [dbo].[PRODUIT] ([REFERENCE], [DESCRIPTION], [IMAGE], [NOM], [PRIXHT], [CATEGORIECARTE_NOM], [TVA_CODETVA]) VALUES (CAST(65 AS Numeric(19, 0)), N'Accompagnement haricots blancs', N'Image/AccFlageolet.jpg', N'Flageolets', 0, N'Accompagnement', CAST(30 AS Numeric(19, 0)))
SET IDENTITY_INSERT [dbo].[PRODUIT] OFF
INSERT [dbo].[PRODUIT_CHOIXCLIENT] ([produits_REFERENCE], [choixClients_ID]) VALUES (CAST(68 AS Numeric(19, 0)), CAST(21 AS Numeric(19, 0)))
INSERT [dbo].[PRODUIT_CHOIXCLIENT] ([produits_REFERENCE], [choixClients_ID]) VALUES (CAST(68 AS Numeric(19, 0)), CAST(22 AS Numeric(19, 0)))
INSERT [dbo].[PRODUIT_CHOIXCLIENT] ([produits_REFERENCE], [choixClients_ID]) VALUES (CAST(68 AS Numeric(19, 0)), CAST(23 AS Numeric(19, 0)))
INSERT [dbo].[PRODUIT_INGREDIENT] ([ingredients_NOM], [produits_REFERENCE]) VALUES (N'anchois', CAST(79 AS Numeric(19, 0)))
INSERT [dbo].[PRODUIT_INGREDIENT] ([ingredients_NOM], [produits_REFERENCE]) VALUES (N'asperge', CAST(85 AS Numeric(19, 0)))
INSERT [dbo].[PRODUIT_INGREDIENT] ([ingredients_NOM], [produits_REFERENCE]) VALUES (N'avocat', CAST(64 AS Numeric(19, 0)))
INSERT [dbo].[PRODUIT_PARAMETRES] ([produits_REFERENCE], [parametres_ID]) VALUES (CAST(64 AS Numeric(19, 0)), CAST(1 AS Numeric(19, 0)))
INSERT [dbo].[PRODUIT_PARAMETRES] ([produits_REFERENCE], [parametres_ID]) VALUES (CAST(66 AS Numeric(19, 0)), CAST(1 AS Numeric(19, 0)))
INSERT [dbo].[PRODUIT_PARAMETRES] ([produits_REFERENCE], [parametres_ID]) VALUES (CAST(67 AS Numeric(19, 0)), CAST(1 AS Numeric(19, 0)))
INSERT [dbo].[PRODUIT_PRODUIT] ([produitParents_REFERENCE], [produitEnfants_REFERENCE]) VALUES (CAST(68 AS Numeric(19, 0)), CAST(77 AS Numeric(19, 0)))
INSERT [dbo].[PRODUIT_PRODUIT] ([produitParents_REFERENCE], [produitEnfants_REFERENCE]) VALUES (CAST(68 AS Numeric(19, 0)), CAST(102 AS Numeric(19, 0)))
INSERT [dbo].[PRODUIT_PRODUIT] ([produitParents_REFERENCE], [produitEnfants_REFERENCE]) VALUES (CAST(68 AS Numeric(19, 0)), CAST(113 AS Numeric(19, 0)))
SET IDENTITY_INSERT [dbo].[PROMOTION] ON 

INSERT [dbo].[PROMOTION] ([ID], [DATEDEBUT], [DATEFIN], [DESCRIPTION], [IMAGE], [REMISE]) VALUES (CAST(1 AS Numeric(19, 0)), CAST(N'2018-01-01T00:00:00.000' AS DateTime), CAST(N'2018-07-30T00:00:00.000' AS DateTime), N'Plat du jour', NULL, 15)
INSERT [dbo].[PROMOTION] ([ID], [DATEDEBUT], [DATEFIN], [DESCRIPTION], [IMAGE], [REMISE]) VALUES (CAST(2 AS Numeric(19, 0)), CAST(N'2011-02-25T14:34:20.000' AS DateTime), CAST(N'2012-07-01T23:15:45.000' AS DateTime), N'Foire à la saucisse', NULL, 10)
SET IDENTITY_INSERT [dbo].[PROMOTION] OFF
INSERT [dbo].[PROMOTION_PRODUIT] ([produits_REFERENCE], [promotions_ID]) VALUES (CAST(90 AS Numeric(19, 0)), CAST(1 AS Numeric(19, 0)))
SET IDENTITY_INSERT [dbo].[PROPRIETE] ON 

INSERT [dbo].[PROPRIETE] ([ID], [NOM], [UNITE], [VALEUR]) VALUES (CAST(12 AS Numeric(19, 0)), N'volume', N'cl', N'33')
INSERT [dbo].[PROPRIETE] ([ID], [NOM], [UNITE], [VALEUR]) VALUES (CAST(13 AS Numeric(19, 0)), N'année', N'', N'2015')
INSERT [dbo].[PROPRIETE] ([ID], [NOM], [UNITE], [VALEUR]) VALUES (CAST(14 AS Numeric(19, 0)), N'poid', N'grammes', N'125')
SET IDENTITY_INSERT [dbo].[PROPRIETE] OFF
INSERT [dbo].[PROPRIETE_PRODUIT] ([produits_REFERENCE], [proprietes_ID]) VALUES (CAST(66 AS Numeric(19, 0)), CAST(15 AS Numeric(19, 0)))
INSERT [dbo].[PROPRIETE_PRODUIT] ([produits_REFERENCE], [proprietes_ID]) VALUES (CAST(66 AS Numeric(19, 0)), CAST(19 AS Numeric(19, 0)))
INSERT [dbo].[PROPRIETE_PRODUIT] ([produits_REFERENCE], [proprietes_ID]) VALUES (CAST(67 AS Numeric(19, 0)), CAST(15 AS Numeric(19, 0)))
SET IDENTITY_INSERT [dbo].[REGLEMENT] ON 

INSERT [dbo].[REGLEMENT] ([ID], [DATEREGLEMENT], [MONTANT], [COMMANDE_ID], [TYPEREGLEMENT_ID]) VALUES (CAST(1 AS Numeric(19, 0)), CAST(N'2018-03-16T00:00:00.000' AS DateTime), 72.2, CAST(15 AS Numeric(19, 0)), CAST(1 AS Numeric(19, 0)))
INSERT [dbo].[REGLEMENT] ([ID], [DATEREGLEMENT], [MONTANT], [COMMANDE_ID], [TYPEREGLEMENT_ID]) VALUES (CAST(2 AS Numeric(19, 0)), CAST(N'2018-03-18T00:00:00.000' AS DateTime), 13.2, CAST(13 AS Numeric(19, 0)), CAST(2 AS Numeric(19, 0)))
INSERT [dbo].[REGLEMENT] ([ID], [DATEREGLEMENT], [MONTANT], [COMMANDE_ID], [TYPEREGLEMENT_ID]) VALUES (CAST(3 AS Numeric(19, 0)), CAST(N'2018-03-17T00:00:00.000' AS DateTime), 77, CAST(14 AS Numeric(19, 0)), CAST(1 AS Numeric(19, 0)))
SET IDENTITY_INSERT [dbo].[REGLEMENT] OFF
SET IDENTITY_INSERT [dbo].[TVA] ON 

INSERT [dbo].[TVA] ([CODETVA], [TAUXTVA]) VALUES (CAST(29 AS Numeric(19, 0)), 9.6)
INSERT [dbo].[TVA] ([CODETVA], [TAUXTVA]) VALUES (CAST(30 AS Numeric(19, 0)), 10)
INSERT [dbo].[TVA] ([CODETVA], [TAUXTVA]) VALUES (CAST(31 AS Numeric(19, 0)), 15.6)
SET IDENTITY_INSERT [dbo].[TVA] OFF
SET IDENTITY_INSERT [dbo].[TYPEREGLEMENT] ON 

INSERT [dbo].[TYPEREGLEMENT] ([ID], [TYPE]) VALUES (CAST(1 AS Numeric(19, 0)), N'carte')
INSERT [dbo].[TYPEREGLEMENT] ([ID], [TYPE]) VALUES (CAST(2 AS Numeric(19, 0)), N'chèque restaurant')
INSERT [dbo].[TYPEREGLEMENT] ([ID], [TYPE]) VALUES (CAST(3 AS Numeric(19, 0)), N'espèce')
SET IDENTITY_INSERT [dbo].[TYPEREGLEMENT] OFF
INSERT [dbo].[UTILISATEUR] ([CODE], [NOM], [PRENOM], [PARAMETRES_ID]) VALUES (N'1234', N'Peuplus', N'Jean', CAST(200 AS Numeric(19, 0)))
INSERT [dbo].[UTILISATEUR] ([CODE], [NOM], [PRENOM], [PARAMETRES_ID]) VALUES (N'2345', N'Neymar', N'Jean', CAST(200 AS Numeric(19, 0)))
INSERT [dbo].[UTILISATEUR] ([CODE], [NOM], [PRENOM], [PARAMETRES_ID]) VALUES (N'3021', N'Marc Morandini', N'Jean', CAST(202 AS Numeric(19, 0)))
INSERT [dbo].[UTILISATEUR_DROIT] ([utilisateurs_CODE], [droits_TYPEDROIT]) VALUES (N'1234', CAST(8 AS Numeric(19, 0)))
INSERT [dbo].[UTILISATEUR_DROIT] ([utilisateurs_CODE], [droits_TYPEDROIT]) VALUES (N'1234', CAST(9 AS Numeric(19, 0)))
INSERT [dbo].[UTILISATEUR_DROIT] ([utilisateurs_CODE], [droits_TYPEDROIT]) VALUES (N'2345', CAST(9 AS Numeric(19, 0)))
INSERT [dbo].[UTILISATEUR_EMPLACEMENT] ([utilisateurs_CODE], [emplacements_NUMERO]) VALUES (N'1234', CAST(1 AS Numeric(19, 0)))
INSERT [dbo].[UTILISATEUR_EMPLACEMENT] ([utilisateurs_CODE], [emplacements_NUMERO]) VALUES (N'1234', CAST(2 AS Numeric(19, 0)))
INSERT [dbo].[UTILISATEUR_EMPLACEMENT] ([utilisateurs_CODE], [emplacements_NUMERO]) VALUES (N'1234', CAST(3 AS Numeric(19, 0)))
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__INGREDIE__C7DEF3F681FF34E9]    Script Date: 21/03/2018 22:34:40 ******/
ALTER TABLE [dbo].[INGREDIENT] ADD UNIQUE NONCLUSTERED 
(
	[NOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PRODUIT__C7DEF3F65AE130D0]    Script Date: 21/03/2018 22:34:40 ******/
ALTER TABLE [dbo].[PRODUIT] ADD UNIQUE NONCLUSTERED 
(
	[NOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CARTE_CATEGORIECARTE]  WITH CHECK ADD  CONSTRAINT [CRTCTEGORIECARTEcrtsID] FOREIGN KEY([cartes_ID])
REFERENCES [dbo].[CARTE] ([ID])
GO
ALTER TABLE [dbo].[CARTE_CATEGORIECARTE] CHECK CONSTRAINT [CRTCTEGORIECARTEcrtsID]
GO
ALTER TABLE [dbo].[CARTE_CATEGORIECARTE]  WITH CHECK ADD  CONSTRAINT [CRTCTGRCRTEctgrCrtsNOM] FOREIGN KEY([categorieCartes_NOM])
REFERENCES [dbo].[CATEGORIECARTE] ([NOM])
GO
ALTER TABLE [dbo].[CARTE_CATEGORIECARTE] CHECK CONSTRAINT [CRTCTGRCRTEctgrCrtsNOM]
GO
ALTER TABLE [dbo].[CATEGORIEFORMULE]  WITH CHECK ADD  CONSTRAINT [CTGORIEFORMULEFRMULEID] FOREIGN KEY([FORMULE_ID])
REFERENCES [dbo].[FORMULE] ([ID])
GO
ALTER TABLE [dbo].[CATEGORIEFORMULE] CHECK CONSTRAINT [CTGORIEFORMULEFRMULEID]
GO
ALTER TABLE [dbo].[CATEGORIEFORMULE_PRODUIT]  WITH CHECK ADD  CONSTRAINT [CTGRFRMLPRDTctgrFrmlsD] FOREIGN KEY([categorieFormules_ID])
REFERENCES [dbo].[CATEGORIEFORMULE] ([ID])
GO
ALTER TABLE [dbo].[CATEGORIEFORMULE_PRODUIT] CHECK CONSTRAINT [CTGRFRMLPRDTctgrFrmlsD]
GO
ALTER TABLE [dbo].[CATEGORIEFORMULE_PRODUIT]  WITH CHECK ADD  CONSTRAINT [CTGRFRMLPRDTprdtsRFRNC] FOREIGN KEY([produits_REFERENCE])
REFERENCES [dbo].[PRODUIT] ([REFERENCE])
GO
ALTER TABLE [dbo].[CATEGORIEFORMULE_PRODUIT] CHECK CONSTRAINT [CTGRFRMLPRDTprdtsRFRNC]
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD  CONSTRAINT [CMMNDEMPLACEMENTNUMERO] FOREIGN KEY([EMPLACEMENT_NUMERO])
REFERENCES [dbo].[EMPLACEMENT] ([NUMERO])
GO
ALTER TABLE [dbo].[COMMANDE] CHECK CONSTRAINT [CMMNDEMPLACEMENTNUMERO]
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD  CONSTRAINT [COMMANDE_PARAMETRE_ID] FOREIGN KEY([PARAMETRE_ID])
REFERENCES [dbo].[PARAMETRES] ([ID])
GO
ALTER TABLE [dbo].[COMMANDE] CHECK CONSTRAINT [COMMANDE_PARAMETRE_ID]
GO
ALTER TABLE [dbo].[EMPLACEMENT]  WITH CHECK ADD  CONSTRAINT [EMPLACEMENTPARAMETREID] FOREIGN KEY([PARAMETRE_ID])
REFERENCES [dbo].[PARAMETRES] ([ID])
GO
ALTER TABLE [dbo].[EMPLACEMENT] CHECK CONSTRAINT [EMPLACEMENTPARAMETREID]
GO
ALTER TABLE [dbo].[FORMULE]  WITH CHECK ADD  CONSTRAINT [FK_FORMULE_TVA_CODETVA] FOREIGN KEY([TVA_CODETVA])
REFERENCES [dbo].[TVA] ([CODETVA])
GO
ALTER TABLE [dbo].[FORMULE] CHECK CONSTRAINT [FK_FORMULE_TVA_CODETVA]
GO
ALTER TABLE [dbo].[LIGNECOMMANDE]  WITH CHECK ADD  CONSTRAINT [LGNCMMANDEPRDTRFERENCE] FOREIGN KEY([PRODUIT_REFERENCE])
REFERENCES [dbo].[PRODUIT] ([REFERENCE])
GO
ALTER TABLE [dbo].[LIGNECOMMANDE] CHECK CONSTRAINT [LGNCMMANDEPRDTRFERENCE]
GO
ALTER TABLE [dbo].[LIGNECOMMANDE]  WITH CHECK ADD  CONSTRAINT [LGNCMMNDLGNCMMNDPRNTID] FOREIGN KEY([LIGNECOMMANDEPARENT_ID])
REFERENCES [dbo].[LIGNECOMMANDE] ([ID])
GO
ALTER TABLE [dbo].[LIGNECOMMANDE] CHECK CONSTRAINT [LGNCMMNDLGNCMMNDPRNTID]
GO
ALTER TABLE [dbo].[LIGNECOMMANDE]  WITH CHECK ADD  CONSTRAINT [LGNECOMMANDECOMMANDEID] FOREIGN KEY([COMMANDE_ID])
REFERENCES [dbo].[COMMANDE] ([ID])
GO
ALTER TABLE [dbo].[LIGNECOMMANDE] CHECK CONSTRAINT [LGNECOMMANDECOMMANDEID]
GO
ALTER TABLE [dbo].[LIGNECOMMANDE]  WITH CHECK ADD  CONSTRAINT [LIGNECOMMANDEFORMULEID] FOREIGN KEY([FORMULE_ID])
REFERENCES [dbo].[FORMULE] ([ID])
GO
ALTER TABLE [dbo].[LIGNECOMMANDE] CHECK CONSTRAINT [LIGNECOMMANDEFORMULEID]
GO
ALTER TABLE [dbo].[LIGNECOMMANDE_CHOIXCLIENT]  WITH CHECK ADD  CONSTRAINT [LGNCMMNDCHXCLchxClntsD] FOREIGN KEY([choixClients_ID])
REFERENCES [dbo].[CHOIXCLIENT] ([ID])
GO
ALTER TABLE [dbo].[LIGNECOMMANDE_CHOIXCLIENT] CHECK CONSTRAINT [LGNCMMNDCHXCLchxClntsD]
GO
ALTER TABLE [dbo].[LIGNECOMMANDE_CHOIXCLIENT]  WITH CHECK ADD  CONSTRAINT [LGNCMMNDCHXClgnCmmndsD] FOREIGN KEY([ligneCommandes_ID])
REFERENCES [dbo].[LIGNECOMMANDE] ([ID])
GO
ALTER TABLE [dbo].[LIGNECOMMANDE_CHOIXCLIENT] CHECK CONSTRAINT [LGNCMMNDCHXClgnCmmndsD]
GO
ALTER TABLE [dbo].[LIGNECOMMANDE_INGREDIENT]  WITH CHECK ADD  CONSTRAINT [LGNCMMNDNGRDlgnCmmndsD] FOREIGN KEY([ligneCommandes_ID])
REFERENCES [dbo].[LIGNECOMMANDE] ([ID])
GO
ALTER TABLE [dbo].[LIGNECOMMANDE_INGREDIENT] CHECK CONSTRAINT [LGNCMMNDNGRDlgnCmmndsD]
GO
ALTER TABLE [dbo].[LIGNECOMMANDE_INGREDIENT]  WITH CHECK ADD  CONSTRAINT [LGNCMMNDNGRDNngrdntsNM] FOREIGN KEY([ingredients_NOM])
REFERENCES [dbo].[INGREDIENT] ([NOM])
GO
ALTER TABLE [dbo].[LIGNECOMMANDE_INGREDIENT] CHECK CONSTRAINT [LGNCMMNDNGRDNngrdntsNM]
GO
ALTER TABLE [dbo].[PRODUIT_CHOIXCLIENT]  WITH CHECK ADD  CONSTRAINT [PRDTCHXCLIENTchxClntsD] FOREIGN KEY([choixClients_ID])
REFERENCES [dbo].[CHOIXCLIENT] ([ID])
GO
ALTER TABLE [dbo].[PRODUIT_CHOIXCLIENT] CHECK CONSTRAINT [PRDTCHXCLIENTchxClntsD]
GO
ALTER TABLE [dbo].[PRODUIT_CHOIXCLIENT]  WITH CHECK ADD  CONSTRAINT [PRDTCHXCLNTprdtsRFRNCE] FOREIGN KEY([produits_REFERENCE])
REFERENCES [dbo].[PRODUIT] ([REFERENCE])
GO
ALTER TABLE [dbo].[PRODUIT_CHOIXCLIENT] CHECK CONSTRAINT [PRDTCHXCLNTprdtsRFRNCE]
GO
ALTER TABLE [dbo].[PRODUIT_INGREDIENT]  WITH CHECK ADD  CONSTRAINT [PRDTNGRDENTprdtsRFRNCE] FOREIGN KEY([produits_REFERENCE])
REFERENCES [dbo].[PRODUIT] ([REFERENCE])
GO
ALTER TABLE [dbo].[PRODUIT_INGREDIENT] CHECK CONSTRAINT [PRDTNGRDENTprdtsRFRNCE]
GO
ALTER TABLE [dbo].[PRODUIT_INGREDIENT]  WITH CHECK ADD  CONSTRAINT [PRDTNGRDIENTngrdntsNOM] FOREIGN KEY([ingredients_NOM])
REFERENCES [dbo].[INGREDIENT] ([NOM])
GO
ALTER TABLE [dbo].[PRODUIT_INGREDIENT] CHECK CONSTRAINT [PRDTNGRDIENTngrdntsNOM]
GO
ALTER TABLE [dbo].[PRODUIT_PARAMETRES]  WITH CHECK ADD  CONSTRAINT [PRDTPRAMETRESprmtresID] FOREIGN KEY([parametres_ID])
REFERENCES [dbo].[PARAMETRES] ([ID])
GO
ALTER TABLE [dbo].[PRODUIT_PARAMETRES] CHECK CONSTRAINT [PRDTPRAMETRESprmtresID]
GO
ALTER TABLE [dbo].[PRODUIT_PARAMETRES]  WITH CHECK ADD  CONSTRAINT [PRDTPRMTRESprdtsRFRNCE] FOREIGN KEY([produits_REFERENCE])
REFERENCES [dbo].[PRODUIT] ([REFERENCE])
GO
ALTER TABLE [dbo].[PRODUIT_PARAMETRES] CHECK CONSTRAINT [PRDTPRMTRESprdtsRFRNCE]
GO
ALTER TABLE [dbo].[PRODUIT_PRODUIT]  WITH CHECK ADD  CONSTRAINT [PRDTPRDTprdtnfntsRFRNC] FOREIGN KEY([produitEnfants_REFERENCE])
REFERENCES [dbo].[PRODUIT] ([REFERENCE])
GO
ALTER TABLE [dbo].[PRODUIT_PRODUIT] CHECK CONSTRAINT [PRDTPRDTprdtnfntsRFRNC]
GO
ALTER TABLE [dbo].[PRODUIT_PRODUIT]  WITH CHECK ADD  CONSTRAINT [PRDTPRDTprdtPrntsRFRNC] FOREIGN KEY([produitParents_REFERENCE])
REFERENCES [dbo].[PRODUIT] ([REFERENCE])
GO
ALTER TABLE [dbo].[PRODUIT_PRODUIT] CHECK CONSTRAINT [PRDTPRDTprdtPrntsRFRNC]
GO
ALTER TABLE [dbo].[PROMOTION_PRODUIT]  WITH CHECK ADD  CONSTRAINT [PRMTNPRDITprdtsRFRENCE] FOREIGN KEY([produits_REFERENCE])
REFERENCES [dbo].[PRODUIT] ([REFERENCE])
GO
ALTER TABLE [dbo].[PROMOTION_PRODUIT] CHECK CONSTRAINT [PRMTNPRDITprdtsRFRENCE]
GO
ALTER TABLE [dbo].[PROMOTION_PRODUIT]  WITH CHECK ADD  CONSTRAINT [PRMTONPRODUITprmtonsID] FOREIGN KEY([promotions_ID])
REFERENCES [dbo].[PROMOTION] ([ID])
GO
ALTER TABLE [dbo].[PROMOTION_PRODUIT] CHECK CONSTRAINT [PRMTONPRODUITprmtonsID]
GO
ALTER TABLE [dbo].[PROPRIETE_PRODUIT]  WITH CHECK ADD  CONSTRAINT [PRPRTEPRODUITprprtesID] FOREIGN KEY([proprietes_ID])
REFERENCES [dbo].[PROPRIETE] ([ID])
GO
ALTER TABLE [dbo].[PROPRIETE_PRODUIT] CHECK CONSTRAINT [PRPRTEPRODUITprprtesID]
GO
ALTER TABLE [dbo].[PROPRIETE_PRODUIT]  WITH CHECK ADD  CONSTRAINT [PRPRTPRDITprdtsRFRENCE] FOREIGN KEY([produits_REFERENCE])
REFERENCES [dbo].[PRODUIT] ([REFERENCE])
GO
ALTER TABLE [dbo].[PROPRIETE_PRODUIT] CHECK CONSTRAINT [PRPRTPRDITprdtsRFRENCE]
GO
ALTER TABLE [dbo].[REGLEMENT]  WITH CHECK ADD  CONSTRAINT [REGLEMENT_COMMANDE_ID] FOREIGN KEY([COMMANDE_ID])
REFERENCES [dbo].[COMMANDE] ([ID])
GO
ALTER TABLE [dbo].[REGLEMENT] CHECK CONSTRAINT [REGLEMENT_COMMANDE_ID]
GO
ALTER TABLE [dbo].[REGLEMENT]  WITH CHECK ADD  CONSTRAINT [RGLEMENTTYPREGLEMENTID] FOREIGN KEY([TYPEREGLEMENT_ID])
REFERENCES [dbo].[TYPEREGLEMENT] ([ID])
GO
ALTER TABLE [dbo].[REGLEMENT] CHECK CONSTRAINT [RGLEMENTTYPREGLEMENTID]
GO
ALTER TABLE [dbo].[UTILISATEUR]  WITH CHECK ADD  CONSTRAINT [TILISATEURPARAMETRESID] FOREIGN KEY([PARAMETRES_ID])
REFERENCES [dbo].[PARAMETRES] ([ID])
GO
ALTER TABLE [dbo].[UTILISATEUR] CHECK CONSTRAINT [TILISATEURPARAMETRESID]
GO
ALTER TABLE [dbo].[UTILISATEUR_DROIT]  WITH CHECK ADD  CONSTRAINT [TLSTRDROITdrtsTYPDROIT] FOREIGN KEY([droits_TYPEDROIT])
REFERENCES [dbo].[DROIT] ([TYPEDROIT])
GO
ALTER TABLE [dbo].[UTILISATEUR_DROIT] CHECK CONSTRAINT [TLSTRDROITdrtsTYPDROIT]
GO
ALTER TABLE [dbo].[UTILISATEUR_DROIT]  WITH CHECK ADD  CONSTRAINT [TLSTURDROITtlstursCODE] FOREIGN KEY([utilisateurs_CODE])
REFERENCES [dbo].[UTILISATEUR] ([CODE])
GO
ALTER TABLE [dbo].[UTILISATEUR_DROIT] CHECK CONSTRAINT [TLSTURDROITtlstursCODE]
GO
ALTER TABLE [dbo].[UTILISATEUR_EMPLACEMENT]  WITH CHECK ADD  CONSTRAINT [TLSTRMPLCEMENTtlstrsCD] FOREIGN KEY([utilisateurs_CODE])
REFERENCES [dbo].[UTILISATEUR] ([CODE])
GO
ALTER TABLE [dbo].[UTILISATEUR_EMPLACEMENT] CHECK CONSTRAINT [TLSTRMPLCEMENTtlstrsCD]
GO
ALTER TABLE [dbo].[UTILISATEUR_EMPLACEMENT]  WITH CHECK ADD  CONSTRAINT [TLSTRMPLCMNmplcmntsNMR] FOREIGN KEY([emplacements_NUMERO])
REFERENCES [dbo].[EMPLACEMENT] ([NUMERO])
GO
ALTER TABLE [dbo].[UTILISATEUR_EMPLACEMENT] CHECK CONSTRAINT [TLSTRMPLCMNmplcmntsNMR]
GO
USE [master]
GO
